[Desktop Entry]
Name=Sublime Text 
Type=Application
Exec=/opt/sublime_text_2/sublime_text
Terminal=false
Icon=/opt/sublime_text_2/Icon/16x16/sublime_text.png
GenericName=Source Code Editor
Comment=A sophisticated text editor for code, markup and prose
NoDisplay=false
Categories=TextEditor;Development
