[Unit]
Description=Set hostname for live server
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/set_hostname

[Install]
WantedBy=multi-user.target
